/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}
.navbar-color {
    background-color: #fffbc4 !important;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.image{
    height:300px;
    width:300px;
}
td{
    padding:25px;
}
.Prediction {
    border: 2px solid;
    border-color: #c4b970;
    box-shadow: 4px 4px 30px 4px rgba(153,151,153,0.9);
    background-color: #fffbc4;
}
.jumbotron {
    border-radius: 10px;
    background-color: #e0dfd1 !important;
    box-shadow: 4px 4px 30px 4px rgba(153,151,153,0.9);
}
.recognizeButton {
    height: 100px !important;
    width: 300px !important;
    font-size: 24px !important;
    background-color: #fffbc4;
    border: 2px solid;
    border-radius: 10px;
    border-color: #c4b970;
    box-shadow: 4px 4px 30px 4px rgba(153,151,153,0.9);
}
    .recognizeButton:hover {
        background-color: #c4b970;
        border-color: #e0dcbc;
    }
.recognizeButton:active {
    position: relative;
    top: 1px;
}
.noBird {
    font-size: 24px !important;
    color: red !important;
}
.divMargin{
    margin-bottom:8px;
}
div span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 2px solid;
    border-color: #c4b970;
    border-radius: 10px;
    background-color: #fffbc4;
    color: black;
}
.centered{ 
    margin-left:35%;
    margin-right:35%;
}
