@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<table id="Table" class="text-center">
    <thead>
        <tr>
            <th>Image</th>
            <th>Prediction</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
