@{
    ViewData["Title"] = "About";
}
@{
}
<a>This application was created as part of the thesis. It is able to recognize 150 species of birds.</a><br /><br />
<a>Created by</a>
<h3>Paweł Rogowski - 2020</h3>
